.body
  Pour toute demande de devis ou d’information merci de nous contacter en utilisant le formulaire ci-dessus.

.body
  N'oubliez pas de joindre le document à traduire.

.body
  La taille du fichier doit être inférieure à 10Mo, de préférence sous format word  pour une estimation plus rapide .
