.contact_header
  Contactez-nous

:plain

  <form id="form_3" name="E-mail" onsubmit="return validate_form_3(this)" action="http://www.serifwebresources.com/form.php?uid=651fb134170ae508a22c6b41f2593de2" method="post" target="_self" enctype="multipart/form-data" accept-charset="UTF-8" style="margin:0px;">
  <input type="hidden" name="captcha_gateway" value="1"><div id="txt_51" style="position:absolute; left:314px; top:300px; width:108px; height:23px;-moz-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
  <P class="Normal-P"><label for="edit_21"><span class="Normal-C7">Nom :</span></label></P>
  </div>
  <div style="position:absolute; left:417px; top:300px; width:199px; height:22px; text-align:left;">
  <input type="text" id="edit_21" name="NOM" size="29" style="width:199px;" maxlength="50" value="">
  </div>
  <div id="txt_52" style="position:absolute; left:314px; top:330px; width:112px; height:23px;-moz-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
  <P class="Normal-P"><label for="edit_22"><span class="Normal-C7">Adresse e-<wbr>mail :</span></label></P>
  </div>
  <div style="position:absolute; left:417px; top:330px; width:199px; height:22px; text-align:left;">
  <input type="text" id="edit_22" name="E-MAIL" size="29" style="width:199px;" maxlength="100" value="">

  </div>
  <div id="txt_3" style="position:absolute; left:314px; top:360px; width:109px; height:23px;-moz-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
  <P class="Normal-P"><label for="text_1"><span class="Normal-C7">Commentaires :</span></label></P>
  </div>
  <div style="position:absolute; left:417px; top:360px; width:200px; height:86px; text-align:left;">
  <textarea id="text_1" rows="5" cols="22" name="COMMENTAIRE" style="height:100%; width:200px;"></textarea>
  </div>
  <div style="position:absolute; left:439px; top:507px; width:90px; height:22px; text-align:left;">
  <input type="submit" id="butn_5" value="Envoyer">
  </div>
  <div style="position:absolute; left:531px; top:507px; width:82px; height:22px; text-align:left;">
  <input type="reset" id="butn_6" value="Effacer">

  </div>
  <div style="position:absolute; left:417px; top:457px; width:198px; height:22px; text-align:left;">
  <input type="file" id="fichier_2" name="fichier_2" size="15" width="198px;">
  </div>
  </form>
  </div>
