#title 
  Services annexes

.body
  Afin de vous offrir le meilleur service possible, nous nous entourons de professionnels pouvant répondre à vos besoins dans plusieurs domaines.

.body
  Ainsi nous proposons également :

  %ul
    %li
      %span.highlight
        Assistance administrative 
      et bureautique à distance. Déplacements possibles sur Paris et dans certains départements.
    %li
      %span.highlight
        Rédaction 
      de courriers, articles, contenu de sites internet (en plusieurs langues)
    %li
      %span.highlight
        Retranscription
      audio et vidéo (en plusieurs langues)
    %li
      %span.highlight
        Création de sites 
      internet et logos.
    %li
      %span.highlight
        Permanence téléphonique

 
.body
  Pour tous renseignements sur ces prestations, n'hésitez pas à nous appeler ou nous contacter par e-mail à #{mail_to "contact@deluxetraduction.com", nil, :encode => "javascript"}.