%ul#footer-menu
  %li
    = link_to t('footer.legal'), legal_url
  %li
    = link_to t('footer.contact'), contact_url
  %li
    = link_to t('footer.designer'), "http://www.taneaservices.fr/"

#keywords
  = t('footer.keywords')
  